html {
    scroll-behavior: smooth;
}

body {
    background-image: url("https://wallpaperbat.com/img/29154471-colorful-abstract-wallpaper-modern.jpg");
    padding: 5em;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-family: 'Varela Round' !important;
    font-size: 58px !important;
    font-weight: 900 !important;
    color: #2c2c2c !important;
  }

  h3 {
    font-family: 'Varela Round' !important;
    font-size: 24px !important;
    color: #2c2c2c !important;
  }

  .main_logo {
    margin:0 0 60px;
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
  
.homepage {
    background: #000000d4;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    box-shadow: 0 15px 60px #00000063;
    padding:0.5em;
}

.container {
    display: flex; 
    max-width: 100% !important;
}

.main-content {
    width: 100%;
    padding: 3em;
    background:#fff;
    margin-left: 1em;
    border-radius: 20px;
    height: 85vh;
    overflow-y: scroll;
    
}

.main-content::-webkit-scrollbar {
    width: 30px;
    background: transparent;

  }
  
  .main-content::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;

  }
  
  .main-content::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 20px;
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  

  }
  
  .main-content::-webkit-scrollbar-thumb:hover {
    background: #9773dc;
    border: 10px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;


  }

.events-section{
    margin-top: 3em;
}

.calendar-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
