
h2 {
  font-family: 'Varela Round' !important;
  font-size: 58px !important;
  font-weight: 900 !important;
  color: #2c2c2c !important;
  text-align: center;
}

h3 {
  font-family: 'Varela Round' !important;
  font-size: 21px !important;
  margin-top: -14px !important;
  color: #2c2c2c !important;
  text-align: center;
}

.registration-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2em;
  background: #000000d4;
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0 15px 60px #00000063;
}

.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* This sets the max width */
  width: 100%;
}

.registration-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registration-form-container h2 {
  font-size: 36px;
  margin-bottom: 1em;
}

.registration-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.registration-form-container label {
  font-size: 16px;
  color: #2c2c2c;
  font-weight: bold;
}

.registration-form-container input,
.registration-form-container select {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
}

.registration-form-container input:focus,
.registration-form-container select:focus {
  outline: none;
  border-color: #9773dc;
  box-shadow: 0 0 5px rgba(151, 115, 220, 0.5);
}

.rating-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-options label {
  display: flex;
  align-items: center;
}

.rating-options input {
  margin-right: 0.5em;
}

.receive-emails {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.registration-form-container button {
  padding: 0.75em;
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form-container button:hover {
  background-color: #9773dc;
}

.registration-form-container p {
  margin-top: 1em;
  font-size: 14px;
  text-align: center;
}

.registration-form-container .register-link {
  color: #9773dc;
  text-decoration: none;
  font-weight: bold;
}

.registration-form-container .register-link:hover {
  text-decoration: underline;
}
