.registration-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-container {
  display: flex;
  flex-direction: row;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.registration-form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration-form-container h2 {
  margin-bottom: 20px;
}

.registration-form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.registration-form-container input,
.registration-form-container select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form-container select {
  width: 100%;
  padding: 10px;
}

.registration-form-container .receive-emails {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.registration-form-container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registration-form-container button:hover {
  background-color: #0056b3;
}
